{% extends "base.html" %} {% block content %}
<div class="form-card">
  <form class="form-container" method="post">
    {{ form.hidden_tag() }} {{ form.current_password.label }} {{
    form.current_password(class_="form-element-styling") }}
    {{form.new_password.label }}

    <div class="password-container">
      {{ form.new_password(class_="form-element-styling test-poo",
      id="password") }}
      <i class="bi bi-eye-slash" id="togglePassword"></i>
    </div>

    {{ form.confirm_password.label }}
    <div class="password-container">
      {{ form.confirm_password(class_="form-element-styling test-poo") }}
      <!-- <i class="bi bi-eye-slash" id="togglePassword"></i> -->
    </div>
    {{form.submit(class_="submit-button btn") }}
  </form>
</div>
{% endblock %}
