{% extends "base.html" %} {% block title %}
<h1>Contact Me</h1>
<hr>
{% endblock %} {% block content %}
<div class="form-card contact-form">
  <form class="form-container" method="post">
    {{ form.hidden_tag() }}

    <div class="form-element">
      {{ form.name.label }} {{ form.name(class_="form-element-styling") }}
    </div>

    <div class="form-element">
      {{ form.email.label }} {{ form.email(class_="form-element-styling") }}
    </div>

    <div class="form-element">
      {{ form.subject.label }} {{ form.subject(class_="form-element-styling") }}
    </div>

    <div class="form-element">
      {{ form.message.label }} {{ form.message(class_="form-element-styling contact-message-box") }}
    </div>

    <div class="form-element">
      {{ form.submit(class_="submit-button btn") }}
    </div>
  </form>
</div>
{% endblock %}
