{% extends "base.html" %} {% block title %}
<h1>Profile</h1>
<hr />
{% endblock %} {% block content %}
<div class="profile-container">
  <div class="profile-info profile-picture-section">
    <img src="{{ image_file }}" class="profile-picture" />
    <a
      href="{{ url_for('main.change_pic') }}"
      class="btn change-info-button change-profile-pic-button"
      ><i class="bi bi-images button-icon"></i>Change Profile Picture</a
    >
  </div>

  <div class="profile-divider">
    <h2>Personal Details</h2>
    <hr/>
  </div>

  <div class="profile-info">
    {{ user_info.name }}
    <a href="{{ url_for('main.change_name') }}" class="btn change-info-button"
      ><i class="bi bi-bar-chart-steps button-icon"></i>Change Name</a
    >
  </div>

  <div class="profile-info">
    {{ user_info.email }}
    <a href="{{ url_for('main.change_email') }}" class="btn change-info-button"
      ><i class="bi bi-envelope button-icon"></i>Change Email</a
    >
  </div>

  <div class="profile-info">
    <p id="password-text">********</p>
    <a
      href="{{ url_for('main.change_password') }}"
      class="btn change-info-button"
      ><i class="bi bi-lock button-icon"></i>Change Password</a
    >
  </div>

  <div class="profile-divider">
    <h2>Tasks</h2>
    <hr/>
  </div>

  <div class="profile-info">
    <a
      href=" {{ url_for('main.completed_tasks') }}"
      class="btn change-info-button"
      ><i class="bi bi-list-task button-icon"></i>Completed Tasks</a
    >
  </div>

  <div class="profile-info">
    <a
      href="{{ url_for('main.notifications') }}"
      class="btn change-info-button"
    >
      <i class="bi bi-bell button-icon"></i>Notifications
    </a>
  </div>

  <div class="profile-info">
    <p>created on: {{ user_info.creation_date }}</p>
  </div>
</div>

{% endblock %}
