{% extends "base.html" %} {% block title %}
<h1>Profile</h1>
<hr />
{% endblock %} {% block content %}
<div class="profile-container">
  <div class="profile-info profile-picture-section">
    <img
      src="{{ url_for('static', filename='images/' ~ image_file) }}"
      class="profile-picture"
      alt="Profile Picture"
    />
    <a
      href="{{ url_for('main.change_pic') }}"
      class="btn change-info-button change-profile-pic-button"
      ><i class="bi bi-images button-icon"></i>Change Profile Picture</a
    >
  </div>

  <div class="profile-divider">
    <h2>Personal Details</h2>
    <hr />
  </div>

  <div class="profile-info">
    <p class="profile-info-text">{{ user_info.name }}</p>
    <a href="{{ url_for('main.change_name') }}" class="btn change-info-button"
      ><i class="bi bi-bar-chart-steps button-icon"></i>Change Name</a
    >
  </div>

  <div class="profile-info">
    <p class="profile-info-text">{{ user_info.email }}</p>
    <a href="{{ url_for('main.change_email') }}" class="btn change-info-button"
      ><i class="bi bi-envelope button-icon"></i>Change Email</a
    >
  </div>

  <div class="profile-info">
    <p class="profile-info-text" style="filter: blur(5px)">********</p>
    <a
      href="{{ url_for('main.change_password') }}"
      class="btn change-info-button"
      ><i class="bi bi-lock button-icon"></i>Change Password</a
    >
  </div>

  <div class="profile-info">
    <p class="profile-info-text">{{ user_info.phone_number }}</p>
    <a href="{{ url_for('main.change_number') }}" class="btn change-info-button"
      ><i class="bi bi-telephone button-icon"></i>{% if user_info.phone_number
      == None %}Add Number {% else %}Change Number {% endif %}</a
    >
  </div>

  <div class="profile-divider">
    <h2>Tasks</h2>
    <hr />
  </div>

  <div class="profile-info">
    <a
      href=" {{ url_for('main.completed_tasks') }}"
      class="btn change-info-button"
      ><i class="bi bi-list-task button-icon"></i>Completed Tasks</a
    >
  </div>

  <div class="profile-info">
    <a
      href="{{ url_for('main.notifications') }}"
      class="btn change-info-button"
    >
      <i class="bi bi-bell button-icon"></i>Notifications
    </a>
  </div>

  <div class="profile-info">
    <p>created on: {{ user_info.creation_date }}</p>
  </div>

  <div class="profile-divider">
    <h2>Themes</h2>
    <hr />
    <div class="theme-container">
      <button class="theme blue" data-theme="blue"></button>
      <button class="theme red" data-theme="red"></button>
      <button class="theme pink active-theme" data-theme="pink"></button>
      <button class="theme purple" data-theme="purple"></button>
      <button class="theme teal" data-theme="teal"></button>
      <button class="theme orange" data-theme="orange"></button>
      <button class="theme mint" data-theme="mint"></button>
    </div>
  </div>
</div>

{% endblock %}
