:root {
    --pink: #ff69b4;
    --pink-hover: #e04a95;
    
    --grey-navbar: #333;
    --grey-navbar-hover: #222222;
    
    --form-text-col: #fff;
    --form-element-background: #444444;
    --form-background: #222;
    
    --background-col: #121212;
}

body {
    background-color: var(--background-col);
    color: var(--pink);
    font-family: "Montserrat", sans-serif;
}

.flashes {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
    width: 20%;
    height: 50px;
    min-width: 250px;
    
    border-radius: 5px;
    color: white;
}

.success {
    background-color: rgba(255, 105, 180, 0.4);
    border: 2px solid var(--pink);
}

.error {
    background-color: rgba(255, 0, 0, 0.4);
    border: 2px solid red;
}

.navbar-full {
    width: 100%;
    background-color: var(--grey-navbar);
    display: grid;
    grid-template-columns: 8fr 4fr;
}

.left-section-desktop-navbar {
    justify-content: flex-start;
}

.right-section-desktop-navbar {
    justify-content: flex-end;
}

.navbar-styling {
    display: flex;
    align-items: center;
}

.navbar-styling a {
    padding: 10px 15px;
    text-decoration: none;
    color: var(--pink);
    transition: background-color 0.6s;
}

.navbar-styling a:hover {
    background-color: var(--grey-navbar-hover);
    cursor: pointer;
}

.navbar-active {
    background-color: var(--grey-navbar-hover);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 75vh;
    margin-top: 20px;
}

@keyframes strikethrough {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

#ToDoey {
    position: relative;
}

#ToDoey::after {
    content: '';
    position: absolute;
    top: 50%; /* Adjust this as needed */
    left: 0;
    width: 0;
    height: 2px; /* Adjust thickness of the line */
    background: var(--pink); /* Color of the strikethrough */
    animation: strikethrough 1s ease forwards;
}

/* the main form card that holds all the form elements */
.form-card {
    border: solid 4px var(--pink);
    border-radius: 10px;
    border-style: double;
    
    background-color: var(--form-background);
    
    padding: 25px;
    box-shadow: 5px 5px var(--pink);
    margin-top: 10px;
    
    width: 50%;
    height: 100%;
}

/* styling for the container that holds all the form elements
this just allows the container to span the whole length of the card but have some space around it*/
.form-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
}

/* styling for the content of the forms (form.task.label) etc 
the elements have their label and content together so its spaced out evenly*/
.form-element {
    display: flex;
    flex-direction: column;
    height: max-content;
    justify-content: space-evenly;
}

.form-element:nth-last-child(1) {
    margin-top: 15px;
}

.form-element-styling {
    border-radius: 2px;
    background-color: var(--form-element-background);
    color: var(--form-text-col);
    margin-bottom: 10px;
    width: 100%;
}

.submit-button {
    background-color: var(--pink);
    color: var(--form-text-col);
    margin: 0 auto;
    width: 50%;
}

.submit-button:hover {
    background-color: var(--pink-hover);
    color: var(--form-text-col);
}

.password-container {
    position: relative; /* This allows absolute positioning within the div */
}

#togglePassword {
    position: absolute;
    opacity: 0.5;
    align-self: flex-end;
    color: var(--form-text-col);
    right: 10px;
}

#togglePassword:hover {
    opacity: 1;
}

#togglePassword.active {
    opacity: 1;
}

.form-text {
    font-size: 14px;
    color: var(--pink);
}

.task-list-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 25px;
    padding: 10px;
    overflow: auto;
}

.task-list-heading {
    margin: 20px 0;
}

.task-card {
    border: 2px solid var(--pink);
    border-radius: 4px;
    
    padding: 20px;
    
    transition: ease 0.3s;
}

.task-card:hover {
    background-color: rgb(246, 84, 225);
    color: white;
    border-color: white;
    transform: scale(1.04);
    
    box-shadow: -5px -5px var(--pink);
}

.task-label {
    transform: translate(0, 15px);
}

footer {
    background-color: var(--grey-navbar);
    bottom: 0;
    width: 100%;
    min-height: 20rem;
}

.footer-list-title {
    font-size: 2rem;
    color: white;
}

.footer-container {
    display: grid;
    grid-template-columns: repeat(4, 3fr);
}

.footer-col {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
    margin-top: 10%;
    text-align: left;
}

.footer-col hr {
    width: 35%;
    transform: translate(20px, -16px);
}

.footer-list-item {
    color: rgb(170, 170, 170);
    width: min-content;
    transition: ease 0.3s;
    cursor: pointer;
}

.footer-list-item:hover {
    transform: translate(10px, 0);
    color: white;
}

ul .bi {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}

ul .bi:hover {
    color: #24262b;
    background-color: #ffffff;
}

img {
    width: 250px;
    border-radius: 100%;
    padding: 20px;
}

.profile-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end;
    gap: 10px;
}


.profile-picture {
    height: 100px;
    width: 100px;
}

.profile-info p {
    float: left;
}

.profile-info button a {
    color: white;
}

.change-email-button {
    margin-left: 15px;
}

.button-icon {
    margin-right: 4px;
    padding-bottom: 50px;
}

.submit-file {
    margin: 12px 0;
}

.mobile-navbar {
    display: none;
}

@media (max-width: 648px) {
    .navbar-full {
        display: none;
    }
    
    .mobile-navbar {
        display: block;
        width: 100vw;
        background-color: var(--grey-navbar);
        padding: 10px;
        font-size: 18px;
    }

    .bi {
        font-size: 26px;
    }

    .mobile-navbar-container a:nth-child(1) {
        margin-top: 10px;
    }

    .mobile-navbar a {
        color: var(--pink);
        display: block;
        padding: 5px 0;
    }

    .mobile-navbar-container {
        display: none;
    }

    .mobile-navbar-container-show {
        display: block;
    }

    #ToDoey {
        font-size: 46px;
    }

    .container {
        width: 100%;
    }

    .task-list-container {
        grid-template-columns: repeat(1, 300px);
    }

    .task-card {
        justify-self: stretch;
    }

    .task-card:nth-last-child(1) {
        margin-bottom: 50px;
    }

    .form-card {
        width: 100%;
        height: 400px;
        font-size: 22px;
    }

    .form-container {
        height: 100%;
    }

    .form-element {
        align-items: center;
    }

    .container {
        text-align: center;
    }

    footer {
        display: none;
    }
}