/* Root Variables */
:root {
    /* Pink Color Definitions */
    --pink: #ff69b4; /* Main pink color */
    --pink-hover: #e04a95; /* Pink color on hover */
    
    /* Grey Navbar Colors */
    --grey-navbar: #333; /* Background color of the navbar */
    --grey-navbar-hover: #222222; /* Navbar background color on hover */
    
    /* Form and Text Colors */
    --form-text-col: #fff; /* Text color in forms */
    --form-element-background: #444444; /* Background color of form elements */
    --form-background: #222; /* Background color of forms */

    /* Task Card Hover Color */
    --task-card-hover: rgb(246, 84, 225); /* Task card background color on hover */
    
    /* Background Color */
    --background-col: #121212; /* Page background color */
}

/* Body Styles */
body {
    background-color: var(--background-col);
    color: var(--pink);
    font-family: "Montserrat", sans-serif;
}

/* Flash Messages Styles */
.flashes {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
    width: 20%;
    height: 50px;
    min-width: 250px;
    border-radius: 5px;
    color: white;
}

/* flash success style */
.success {
    background-color: rgba(255, 105, 180, 0.4);
    border: 2px solid var(--pink);
}

/* flash error style */
.error {
    background-color: rgba(255, 0, 0, 0.4);
    border: 2px solid red;
}

/* Navbar Styles */
.navbar-full {
    width: 100%;
    background-color: var(--grey-navbar);
    display: grid;
    grid-template-columns: 8fr 4fr;
}

.left-section-desktop-navbar {
    justify-content: flex-start;
}

.right-section-desktop-navbar {
    justify-content: flex-end;
}

/* applies to both sides */
.navbar-styling {
    display: flex;
    align-items: center;
}

/* navbar elements */
.navbar-styling a {
    padding: 10px 15px;
    text-decoration: none;
    color: var(--pink);
    transition: background-color 0.6s;
}

.navbar-styling a:hover {
    background-color: var(--grey-navbar-hover);
    cursor: pointer;
}

.navbar-active {
    background-color: var(--grey-navbar-hover);
}

/* Container Styles */
/* holds all the main info (defined in base.html) */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 75vh;
    margin-top: 20px;
}

/* Keyframes for Strikethrough Animation */
@keyframes strikethrough {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

/* Form Card Styles */
.form-card {
    border: solid 4px var(--pink);
    border-radius: 10px;
    border-style: double;
    background-color: var(--form-background);
    padding: 25px;
    box-shadow: 5px 5px var(--pink);
    margin-top: 10px;
    width: 50%;
    height: 100%;
}

/* Styles for the Container Holding Form Elements */
.form-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
}

/* Styles for Individual Form Elements */
.form-element {
    display: flex;
    flex-direction: column;
    height: max-content;
    justify-content: space-evenly;
}

/* changes only the submit button on the task form */
.form-element:nth-last-child(1) {
    margin-top: 15px;
}

/* styles all the form elements */
.form-element-styling {
    border-radius: 2px;
    background-color: var(--form-element-background);
    color: var(--form-text-col);
    margin-bottom: 10px;
    width: 100%;
}

/* Submit Button Styles */
.submit-button {
    background-color: var(--pink);
    color: var(--form-text-col);
    margin: 0 auto;
    width: 50%;
}

.btn:hover {
    background-color: var(--pink-hover);
    color: var(--form-text-col);
}

/* the form in change_password.html */
.password-container {
    position: relative;
}

/* <i> tag to allow the user to see their password */
#togglePassword {
    position: absolute;
    opacity: 0.5;
    align-self: flex-end;
    color: var(--form-text-col);
    right: 10px;
}

#togglePassword:hover {
    opacity: 1;
}

#togglePassword.active {
    opacity: 1;
}

/* the text on the sign up and login forms that redirects you if you have an acc/need to make one */
.form-text {
    font-size: 14px;
    color: var(--pink);
}

/* the main container in index.html that holds all the tasks */
.task-list-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 25px;
    padding: 10px;
    overflow: auto;
}

/* Task List Heading Styles */
.task-list-heading {
    margin: 20px 0;
}

/* Task Card Styles */
.task-card {
    border: 2px solid var(--pink);
    border-radius: 4px;
    padding: 20px;
    transition: ease 0.3s;
}

.task-card:hover {
    background-color: var(--task-card-hover);
    color: white;
    border-color: white;
    transform: scale(1.04);
    box-shadow: -5px -5px var(--pink);
}

.task-label {
    transform: translate(0, 15px);
}

/* profile container for profile.html */
.profile-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end;
    gap: 10px;
}

/* Profile Picture Styles */
.profile-picture {
    width: 15rem; 
    height: 15rem; /* should match the width for a perfect circle */
    border-radius: 50%;
    object-fit: cover; /* This will ensure the image covers the area without stretching */
    max-width: 100%; /* prevents the image from exceeding the width of its container */
    max-height: 100%;
}

/* make the picture centered */
.profile-picture-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

/* add space between pic and button */
.profile-container .change-profile-pic-button {
    margin-top: 20px;
}

/* so the password text which is just (****) can be next to the button */
.profile-info p {
    float: left;
}

/* sets the colour of the a tag nested in the buttons */
.profile-info button a {
    color: white;
    text-decoration: none; /* Removes underline from links */
}

/* the button next to the user's info (change name, email, etc.) */
.change-info-button {
    padding: 10px 20px; /* Adjust as needed */
    width: auto; /* This makes the button's width content-dependent */
    margin: 0px 10px;
    background-color: var(--pink);
}

/* the <i> tags inside the buttons on the user's profile */
.button-icon {
    margin-right: 12px;
}

/* the submit button on the form for uploading profile pics */
.submit-file {
    margin: 12px 0;
}

/* footer (: */
footer {
    background-color: var(--grey-navbar);
    bottom: 0;
    width: 100%;
    min-height: 20rem;
}

.footer-list-title {
    font-size: 2rem;
    color: white;
}

.footer-container {
    display: grid;
    grid-template-columns: repeat(4, 3fr);
}

.footer-col {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
    text-align: left;
}

.footer-col hr {
    width: 35%;
    transform: translate(20px, -16px);
}

.footer-list-item {
    color: rgb(170, 170, 170);
    width: min-content;
    transition: ease 0.3s;
    cursor: pointer;
}

.footer-list-item:hover {
    transform: translate(10px, 0);
    color: white;
}

ul .bi {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}

ul .bi:hover {
    color: #24262b;
    background-color: #ffffff;
}

/* make sure the mobile nav bar doesn't display */
.mobile-navbar {
    display: none;
}

@media (max-width: 768px) {
    body {
        font-size: 20px; /* Increase base font size for readability on mobile */
    }

    /* make sure the desktop nav bar doesn't show */
    .navbar-full {
        display: none;
    }

    /* styling for the mobile nav bar */
    .mobile-navbar {
        display: block;
        width: 100vw;
        background-color: var(--grey-navbar);
        padding: 10px;
        font-size: 18px;
    }

    /* styling for the bootstrap icons */
    .bi {
        font-size: 26px;
    }

    /* make the first element of the drop-down navbar have a margin so it doesn't look cramped */
    .mobile-navbar-container a:nth-child(1) {
        margin-top: 10px;
    }

    /* drop-down menu elements styling */
    .mobile-navbar a {
        color: var(--pink);
        display: block;
        padding: 5px 0;
    }

    /* stops the menu being shown all the time */
    .mobile-navbar-container {
        display: none;
    }

    /* access this from JavaScript to make the navbar show when clicked */
    .mobile-navbar-container-show {
        display: block;
    }

    /* title */
    #ToDoey {
        font-size: 46px;
    }

    /* set the width of the container */
    .container {
        max-width: 100%;
        text-align: center;
    }

    /* make the tasks show in a list */
    .task-list-container {
        grid-template-columns: repeat(1, 300px);
    }

    /* make the tasks cards stretch to take the 300px */
    .task-card {
        justify-self: stretch;
    }

    /* add margin to the last task to add space between the footer */
    .task-card:nth-last-child(1) {
        margin-bottom: 50px;
    }

    /* new task form */
    .form-card {
        width: 100%;
        height: 400px;
        font-size: 22px;
    }

    .form-element-styling {
        align-self: center;
    }

    /* make the profile page container be centered  */
    .profile-container {
        padding: 20px;
        align-items: center;
    }

    /* make the password text centered */
    .profile-info {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /* set a smaller profile picture size */
    .profile-picture {
        width: 120px; /* smaller size for smaller screens */
        height: 120px; /* should match the width */
    }
    
    /* make the submit button on the profile picture bigger */
    .submit-button {
        width: 100%;
        padding: 12px 20px; /* Bigger tap target */
    }

    footer {
        display: none;
    }
}
