:root {
    --pink: #ff69b4;
    --pink-hover: #e04a95;

    --grey-navbar: #333;
    --grey-navbar-hover: #222222;

    --form-text-col: #fff;
    --form-element-background: #444444;
    --form-background: #222;

    --background-col: #121212;
}

.flashes {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
    width: 20%;
    height: 50px;

    border-radius: 5px;
    color: white;
}

.success {
    background-color: rgba(255, 105, 180, 0.4);
    border: 2px solid var(--pink);
}

.error {
    background-color: rgba(255, 0, 0, 0.4);
    border: 2px solid red;
}

.navbar-full {
    width: 100%;
    background-color: var(--grey-navbar);
    display: grid;
    grid-template-columns: 8fr 4fr;
}

.left-section-desktop-navbar {
    justify-content: flex-start;
}

.right-section-desktop-navbar {
    justify-content: flex-end;
}

.navbar-styling {
    display: flex;
    align-items: center;
}

.navbar-styling a{
    padding: 10px 15px;
    text-decoration: none;
    color: var(--pink);
    transition: background-color 0.6s;
}

.navbar-styling a:hover {
    background-color: var(--grey-navbar-hover);
    cursor: pointer;
}

body {
    background-color: var(--background-col);
    color: var(--pink);
    font-family: 'Montserrat', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 75vh;
    margin-top: 20px;
}

/* the main form card that holds all the form elements */
.form-card {
    border: solid 4px var(--pink);
    border-radius: 10px;
    border-style: double;

    background-color: var(--form-background);

    padding: 25px;
    box-shadow: 5px 5px var(--pink);
    margin-top: 10px;

    width: 500px;
    height: 300px;
}

/* styling for the container that holds all the form elements
this just allows the container to span the whole length of the card but have some space around it*/
.form-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
}

/* styling for the content of the forms (form.task.label) etc 
the elements have their label and content together so its spaced out evenly*/
.form-element {
    display: flex;
    flex-direction: column;
    height: max-content;
    justify-content: space-evenly;
}

.form-element-styling { 
    border-radius: 8px;
    background-color: var(--form-element-background);
    color: var(--form-text-col);
}

.submit-button {
    background-color: var(--pink);
    color: var(--form-text-col);
    margin: 0 auto;
    width: 50%;
}

.submit-button:hover {
    background-color: var(--pink-hover);
    color: var(--form-text-col);
}

#togglePassword {
    opacity: 0.5;
    width: fit-content;
    align-self: flex-end;
    transform: translate(-8px, -32px);
    color: var(--form-text-col);
}

#togglePassword:hover {
    opacity: 1;
}

#togglePassword.active {
    opacity: 1;
}

.form-text {
    font-size: 14px;
    color: var(--pink);
}

.task-list-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;
    padding: 10px;
    overflow: auto;
}

.task-list-heading {
    margin: 20px 0;
}

.task-card {
    border: 2px solid var(--pink);
    border-radius: 8px;
    
    padding: 20px;
    /* margin-top: 20px; */

    transition: ease 0.3s;
}

.task-card:hover {
    background-color: rgb(246, 84, 225);
    color: white;
    border-color: white;

    box-shadow: -5px -5px var(--pink);
}


footer {
    height: 10vh;
    text-align: center;
    background-color: var(--grey-navbar);
    position: absolute;
    bottom: 0;
    width: 100%;
}