<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <textarea id="firstbox">Edit me</textarea>
  <button onclick="performPost()">perform post</button>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</body>

<script>
  function performPost() {
    $.ajax({
      type: "POST",
      url: "{{url_for('ajaxpost')}}", // Change this if your HTML is not served by Flask
      data: { name: "jim",  csrf_token: "{{ csrf_token() }}" },
      success: function(data, textStatus, jqXHR) {
        console.log("POST request successful");
      },
      error: function(jqXHR, textStatus, errorThrown) {
  console.log("POST request failed: " + textStatus + ", " + errorThrown);
}

    });
  }
</script>
</html>