{% extends "base.html" %}

{% block content %}
    <div class="form-card" id="sign-up-form-card">
        <div class="form-container" id="sign-up-form-container">
            {{ form.hidden_tag() }}

            {{ form.email.label }}
            {{ form.email(class_="form-element-styling") }}
            
            {{ form.password.label }}
            {{ form.password(class_="form-element-styling") }}
            <i class="bi bi-eye-slash" id="togglePassword"></i>

            {{ form.submit(class_="submit-button btn") }}
            
        </div>
    </div>
{% endblock %}